<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xuexiang.xuidemo">

    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!--9.0后前台服务需要申请权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity"
        tools:replace="android:allowBackup">

        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:theme="@style/XUITheme.Launch.Demo"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity android:name=".activity.UserGuideActivity" />

        <activity android:name=".activity.EasyIndicatorActivity" />

        <!--&lt;!&ndash;XVideo视频录制&ndash;&gt;-->
        <!--<activity-->
        <!--android:name="com.xuexiang.xvideo.MediaRecorderActivity"-->
        <!--android:theme="@style/XVideoNoBarTheme" />-->

        <!--SearchView-->
        <activity
            android:name=".activity.SearchViewActivity"
            android:label="SearchView" />
        <activity
            android:name=".activity.SearchComponentActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".base.webview.AgentWebActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:hardwareAccelerated="true"
            android:label="@string/app_browser_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <!-- Scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.xuexiang.xui.applink" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
                <data
                    android:host="xuexiangjys.club"
                    android:scheme="xui" />
            </intent-filter>
            <!-- AppLink -->
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="inline" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
                <data
                    android:host="xuexiangjys.club"
                    android:scheme="http" />
                <data
                    android:host="xuexiangjys.club"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <!-- applink的中转页面 -->
        <activity
            android:name=".base.XPageTransferActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!--fragment的页面容器-->
        <activity
            android:name=".base.BaseActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard|locale|layoutDirection"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".widget.iconfont.IconFontActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.TranslucentActivity" />
        <activity
            android:name=".fragment.expands.camera.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Camera"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".fragment.expands.camera.PictureCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Camera"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".fragment.expands.camera.CameraViewActivity"
            android:theme="@style/AppTheme.Camera"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".fragment.expands.qrcode.CustomCaptureActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/XQRCodeTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/SettingTheme" />

        <!-- 版本更新提示-->
        <activity
            android:name=".utils.update.UpdateTipDialog"
            android:theme="@style/DialogTheme" />
        <!-- Webview拦截提示弹窗-->
        <activity
            android:name=".base.webview.WebViewInterceptDialog"
            android:theme="@style/DialogTheme" />

        <!--X5预加载-->
        <service android:name=".utils.sdkinit.PreLoadX5Service" />
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="UEoFaVVo6q2vUe12ZW8f7GqqLQtDYZUI" />

        <!--应用监听服务-->
        <service android:name=".fragment.expands.floatview.service.AppMonitorService" />
    </application>

</manifest>