<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xuexiang.xuidemo">

    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:theme="@style/XUITheme.Launch.Demo"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity android:name=".activity.UserGuideActivity" />

        <!--图片选择-->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/PhotoPickerTheme" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activity.EasyIndicatorActivity" />

        <!--XVideo视频录制-->
        <activity
            android:name="com.xuexiang.xvideo.MediaRecorderActivity"
            android:theme="@style/XVideoNoBarTheme" />

        <!--SearchView-->
        <activity
            android:name=".activity.SearchViewActivity"
            android:label="SearchView" />

        <activity
            android:name=".base.webview.AgentWebActivity"
            android:label="XUI浏览器"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="inline" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>
        </activity>
        <activity android:name=".base.BaseActivity" />

        <!--应用监听服务-->
        <service android:name=".fragment.expands.floatview.service.AppMonitorService" />
    </application>

</manifest>